<app-nav></app-nav>

<div class="w-full container pt-8 md:w-8/12 md:mx-auto md:h-8/12">
  <div class="bg-white 
  border border-gray-300 shadow-2xl md:ml-6 h-64 my-8 p-6 relative ml-1 mr-1 h-auto md:mt-16 md:pl-24 rounded-lg">

  <p class="font-medium  inline text-sm"><svg  class="inline text-green-600"
    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
  </svg><span class="inline text-green-600" style="font-variant-caps: all-petite-caps;">&nbsp;DASHBOARD</span></p>
<br/><br/>
 <div class="flex flex-row justify-between">
  <div class="flex-1 w-9/12">
    <h3 class="text-gray-600 font-medium text-md">VIEWS</h3>
  <h1 class="font-bold text-5xl text-gray-800">10</h1>
  </div>
  <div class="flex-1 w-9/12">
  <h3 class="text-gray-600 font-medium text-md">MY COURSES</h3>
  <h1 class="font-bold text-5xl text-gray-800">0</h1>
  </div>
</div>

<img src="assets/grades.svg" class="h-auto w-full md:w-8/12 md:h-64">

<p class="text-center my-8"  style="width: 287px;">
  <button [routerLink]="'/createcourse'" 
  style="background-color: #226C3B;outline: none;" class="outline-none hover:bg-gray-400 
  text-white font-bold py-2 px-4 rounded 
  inline-flex items-center sm:hidden">
    <svg  class="fill-current text-white w-4 h-4 mr-2 bi bi-pencil" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
    </svg>
    <span>Start a new course</span>
  </button>
</p>



   

  </div>
 

</div>


<app-bottomnav></app-bottomnav>