<ng-container [ngSwitch]="(service.user?.emailVerified)">
   <ng-container *ngSwitchCase="true">
      
      
      <div class="container w-full">
         <div class="max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl mx-auto   mt-8 p-3
          bg-white rounded shadow-xl
         ">


         <div
         *ngIf="title == null"
         style="
         vertical-align: middle;
         text-align: center;
         border-style: none;
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);">
       <div class="loadingio-spinner-dual-ring-5c21w3omuld"><div class="ldio-b4dmdb0e9x8">
           <div></div><div><div></div></div>
           </div></div>
       </div>

             <h1 class="text-lg sm:text-lg md:text-xl 
             lg:text-2xl xl:text-3xl font-medium text-center text-gray-800">
            {{mainTitle}}</h1>
            <p class="font-thin leading-5 text-center md:pl-16 md:pr-16">{{title}}</p>
             
                  <ul class="flex flex-row space-x-3 overflow-x-auto py-4 px-2 mt-2">
   
                     <li [className]="i == initialPosition ? initialBackgroundColor : defaultBackgroundColor" 
                    *ngFor="let chapter of videoResults; let i = index;"
                    >
                  <div style="width: 99px;height: 20px;
                  text-align: center;">{{ i > 0 ? 'Chapter ' + i : 'Intro'}}</div>
                  </li>
   
              
                  </ul>
                
                   <p class="mt-8" *ngIf="initialVideo != null">
                    <app-vjs-player [options]="{videoplayer:{autoplay: false, controls: true, 
                      sources: [{ src: initialVideo, type: 'video/mp4'}], fluid:true, 
                      responsive: true, muted: false}, videoParamId: videoParamId,initialPosition:0}"></app-vjs-player>
                   </p>
                     </div>
        
     </div>
   </ng-container>
   
   <app-emailactivation *ngSwitchCase="false"></app-emailactivation>
   <div class="flex-container-column" *ngSwitchDefault>
     <div class="height-block2"></div>
       <div class="sk-chase">
           <div class="sk-chase-dot"></div>
           <div class="sk-chase-dot"></div>
           <div class="sk-chase-dot"></div>
           <div class="sk-chase-dot"></div>
           <div class="sk-chase-dot"></div>
           <div class="sk-chase-dot"></div>
         </div>
   </div>