<div class="font-family-karla h-screen h-full">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl mt-8">Sign in to continue.</p>
                <form class="flex flex-col pt-8 md:pt-8 relative"  [formGroup]="loginGroup" novalidate>
            
                    <svg *ngIf="this.service.spinner" class="animate-spin center-rotator" 
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335"
                        width="3em" height="3em">
                         <path fill="#ed64a6" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
                         />
                       </svg>

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Email</label>
                        <input type="email" id="email"  formControlName="email"
                        placeholder="your@email.com" 
                         [className]="invalidFields ? 'shadow 
                         appearance-none border rounded w-full 
                         py-2 px-3 text-gray-700 mt-1 
                         leading-tight focus:outline-none
                         focus:border-red-400': 'shadow 
                         appearance-none border rounded w-full 
                         py-2 px-3 text-gray-700 mt-1 
                         leading-tight focus:outline-none
                         focus:border-green-400'">
                    </div>
    
                    <div class="flex flex-col pt-4 relative">
                        <label for="password" class="text-lg">Password</label>
                        <input [type]="type" 
                         formControlName="password" 
                        id="password" placeholder="Password" [className]="invalidFields ? 'shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-red-400' : 'shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-green-400'" 
                        
                        (focus)="focus()" (blur)="unfocus()" minlength="6">

                        <button style="outline: none;"
                        (click)="type == 'password'   ? showPassword(): Hidepassword()"
                        [className]="isFocused ? 'absolute position-con text-green-400' : 'absolute position-con text-gray-600'">
                            <svg *ngIf="type == 'password'" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>

                              <svg *ngIf="type == 'text'" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                              </svg>
                        </button>

                    </div>
    

                    <button style="outline: none;"  type="button"  (click)="login()"
                    class="bg-secondary text-white font-bold text-lg hover:bg-green-400 p-2 mt-8 cursor-pointer">
                    <span *ngIf="!service.isLoading">Sign in</span>
                    <div class="spinner" *ngIf="service.isLoading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                </button>
                

<p *ngIf="invalidFields" class="block text-md font-medium text-red-500">Whoops! make
     sure you entered correct email and password</p>
                </form>
                
                <div class="mx-auto -mb-6 pb-1 pt-8" *ngIf="false">
                    <span class="text-center text-xs text-gray-700">or sign in with</span>
                 </div>

                 <div class="flex items-center w-full mt-2">
                    <!-- <button style="outline: none;"  type="button"  (click)="login()"
                    class="w-full bg-white shadow-2xl text-gray-500 font-bold text-lg hover:bg-green-400 p-2 mt-8 cursor-pointer">
                    
                   
                    
                    <span>Sign in with google</span>
                    
                </button> -->

                <button *ngIf="false"
                (click)="googleSignIn()"
                style="font-family: 'Roboto', sans-serif;outline: none;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);"
                 class=" bg-white  
                 font-normal p-2 mt-8 text-gray-700 rounded inline-flex justify-evenly shadow-2xl w-full text-lg relative">
                    <svg class="bg-transparent fill-current absolute position google" width="48px" height="48px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
                        <title>btn_google_light_normal_ios</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
                                <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.168 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
                                <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
                                <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
                                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.084 0" in="shadowBlurOuter2" type="matrix" result="shadowMatrixOuter2"></feColorMatrix>
                                <feMerge>
                                    <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                                    <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
                                    <feMergeNode in="SourceGraphic"></feMergeNode>
                                </feMerge>
                            </filter>
                            <rect id="path-2" x="0" y="0" width="40" height="40" rx="2"></rect>
                        </defs>
                        <g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="9-PATCH" sketch:type="MSArtboardGroup" transform="translate(-608.000000, -160.000000)"></g>
                            <g id="btn_google_light_normal" sketch:type="MSArtboardGroup" transform="translate(-1.000000, -1.000000)">
                                <g id="button" sketch:type="MSLayerGroup" transform="translate(4.000000, 4.000000)" filter="url(#filter-1)">
                                    <g id="button-bg">
                                        <use fill="#FFFFFF" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-2"></use>
                                        <use fill="none" xlink:href="#path-2"></use>
                                        <use fill="none" xlink:href="#path-2"></use>
                                        <use fill="none" xlink:href="#path-2"></use>
                                    </g>
                                </g>
                                <g id="logo_googleg_48dp" sketch:type="MSLayerGroup" transform="translate(15.000000, 15.000000)">
                                    <path d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z" id="Shape" fill="#4285F4" sketch:type="MSShapeGroup"></path>
                                    <path d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z" id="Shape" fill="#34A853" sketch:type="MSShapeGroup"></path>
                                    <path d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z" id="Shape" fill="#FBBC05" sketch:type="MSShapeGroup"></path>
                                    <path d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z" id="Shape" fill="#EA4335" sketch:type="MSShapeGroup"></path>
                                    <path d="M0,0 L18,0 L18,18 L0,18 L0,0 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                                </g>
                                <g id="handles_square" sketch:type="MSLayerGroup"></g>
                            </g>
                        </g>
                    </svg>
                    <span>Sign in with google</span>
                  </button>
                 </div>
                 

                <div class="pt-12 pb-12 flex justify-evenly">
                    <p>Don't have an account?<a routerLink="/auth/register" class="underline font-semibold">Register here.</a></p>
                    <p class="ml-12">Forgot password? <a routerLink="/auth/forgot-password" class="underline font-semibold">Reset here</a></p>
                </div>

               
                
            </div>
<p routerLink="/" class="outline-none cursor-pointer text-sm font-medium text-center p-3">DummiesCollege Inc &copy;{{service.fullYear}}</p>
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="assets/pixeltrue-idea.png">
        </div>
    </div>

    

</div>