<app-nav></app-nav>

<div class="w-full container pt-8">
  <div class="bg-white 
  border border-gray-300 shadow-2xl md:ml-6 h-64 my-8 p-6 relative ml-1 mr-1 h-auto">

  <p class="font-bold  inline text-sm text-gray-800">MY COURSES</p>
<br/><br/>

 <div class="flex flex-row mt-5 flex-wrap border-b border-gray-300 pb-8">
  <div class="flex-1 w-9/12">
  <h1 class="font-bold text-3xl text-gray-800">A brief guide to material science</h1>
  <p class="text-gray-600 text-md">Sam explains how to do material science explicitly.</p>
  </div>
  
  <div class="flex flex-row">
    <button class="p-1 border-2 border-transparent text-gray-800 rounded-full 
    hover:text-white focus:outline-none focus:text-white 
    focus:bg-gray-700 transition duration-150 ease-in-out" aria-label="Notifications">
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
      </svg>
    
    </button>

      <button class="p-1 border-2 border-transparent text-red-800 rounded-full 
      hover:text-white focus:outline-none focus:text-white 
      focus:bg-gray-700 transition duration-150 ease-in-out" aria-label="Notifications">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg></button>
  </div>
</div>








   

  </div>
</div>

<app-bottomnav></app-bottomnav>