<div class="container">
  <header class="m-6">
   <h1 class="text-base sm:text-lg md:text-xl 
   lg:text-2xl xl:text-3xl font-medium">
       Blogging courses</h1>
  </header>

  <!-- courses lists -->
  <div class="flex flex-wrap">
   
    <div routerLink="/watch" class="bg-white custom-width  relative  border border-gray-400 rounded-sm m-6 rounded-lg shadow-2xl cursor-pointer" 
    style="height: 380px;">

    <!-- <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" 
    fill="#ff1e56" style="transform: scale(1.5); opacity: 0.1;">
      <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="#ff1e56"/>
      <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="#ff1e56"/>
    </svg> -->

    <img src="assets/test.jpeg" class="w-full rounded-t-lg bg-black"/>
    <div class="text-justify p-3">
      <div class="width-90">
        <h3 class="antialiased font-bold text-lg leading-none sm:leading-tight md:leading-normal lg:leading-relaxed xl:leading-loose 
         ">How to blog on ecommerce?</h3>
         <p class=" subpixel-antialiased font-normal">Jeff Hinton teaches you how to blog like a 10x content writer.</p>
      </div>
    </div>
    
    <button routerLink="/watch"  class="ml-3 
    bg-gray-900 text-white font-bold text-lg hover:bg-gray-700 p-2 relative bottom-0 mt-2 cursor-pointer outline-none">Start course</button>
</div>

<!-- <div class="flex-shrink-0 m-6 relative overflow-hidden bg-orange-500 rounded-lg max-w-xs shadow-lg">
  <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
    <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
    <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
  </svg>
  <div class="relative pt-10 px-10 flex items-center justify-center">
    <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
    <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
  </div>
  <div class="relative text-white px-6 pb-6 mt-6">
    <span class="block opacity-75 -mb-1">Indoor</span>
    <div class="flex justify-between">
      <span class="block font-semibold text-xl">Peace Lily</span>
      <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">$36.00</span>
    </div>
  </div>
</div> -->


   
    

  </div>

  <!-- component -->

  </div>