<div class="container pl-3 pr-4">
  <header class="mt-8 mb-6">
   <h1 class="text-base sm:text-lg md:text-xl 
   lg:text-2xl xl:text-3xl font-medium">
       Blogging courses</h1>
  </header>

  <!-- courses lists -->
  <div class="flex flex-wrap">
   
    <div routerLink="/watch" class="custom-width  border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" 
    style="height: 380px;">
    
    <img src="assets/test.jpeg" class="w-full rounded-t-lg bg-black"/>
    <div class="text-justify p-3">
      <div class="width-90">
        <h3 class="antialiased font-bold text-lg leading-none sm:leading-tight md:leading-normal lg:leading-relaxed xl:leading-loose 
         ">How to blog on ecommerce?</h3>
         <p class=" subpixel-antialiased font-normal">Jeff Hinton teaches you how to blog like a 10x content writer.</p>
      </div>
    </div>
    
    <button routerLink="/watch"  class="ml-3 
    bg-gray-900 text-white font-bold text-lg hover:bg-gray-700 p-2 relative bottom-0 mt-3 cursor-pointer outline-none">Start course</button>
</div>

    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 380px;">
    </div>
    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 380px;">
    </div>
    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 380px;">
    </div>
    

  </div>
  </div>