<div class="container pl-3 pr-4">
  <header class="mt-8 mb-6">
   <h1 class="text-base sm:text-lg md:text-xl 
   lg:text-2xl xl:text-3xl font-medium">
       Blogging courses</h1>
  </header>

  <!-- courses lists -->
  <div class="flex flex-wrap">
    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 400px;">
    </div>
    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 400px;">
    </div>
    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 400px;">
    </div>
    <div class="custom-width p-2 border border-gray-400 rounded-sm mr-2 rounded-lg shadow-2xl cursor-pointer" style="height: 400px;">
    </div>
    

  </div>
  </div>