<div class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

     
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
              
                <form class="flex flex-col pt-3 md:pt-8 " [formGroup]="registrationGroup" >
                    <p class="text-center text-3xl m-6">Create account.</p>
                    <div class="flex flex-col pt-4">
                        <label for="text" class="text-lg">Full name</label>
                        <input type="text" id="fullName" 
                        placeholder="John Doe" 
                        class="capitalize shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-green-400" 
                        formControlName="fullName" required>
                        <p class="text-red-500 
                        text-xs italic" *ngIf="validator('fullName')">Please provide your full name</p>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Email</label>
                        <input type="email" id="email" 
                        placeholder="your@email.com" 
                        class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-green-400 bg-transparent" formControlName="email" required>
                        <p class="text-red-500 
                        text-xs italic" *ngIf="validator('email')">A valid email is required 
                        e.g craigmiller@example.com</p>
                    </div>

                    <div class="flex flex-col pt-4 relative">
                        <label for="country" class="text-lg">Country</label>
                        <select class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-green-400 focus:bg-transparent bg-transparent" formControlName="country">
                    <option *ngFor="let country of countries">{{country}}</option>
                    </select>
                    <button [className]="isSelected('country') ? 'absolute position-con text-green-400' : 'absolute position-con text-gray-600'">
                        <svg height="1.2em" width="1.2em" 
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                         </svg>
                    </button>
                   
                        
                    </div>


                    <div class="flex flex-col pt-4 relative">
                        <label for="country" class="text-lg">Password</label>
                        <input type="password"
                        placeholder="Password ***" 
                        class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-green-400" 
                        formControlName="password" required minlength="6" (focus)="focus()" (blur)="unfocus()">
                        <p class="text-red-500 
                        text-xs italic" *ngIf="validator('password')">A password is required & must be at least 6 characters</p>
                        <button style="outline: none;"
                        (click)="type == 'password'   ? showPassword(): Hidepassword()"
                        [className]="isFocused ? 'absolute position-con text-green-400' : 'absolute position-con text-gray-600'">
                            <svg *ngIf="type == 'password'" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>

                              <svg *ngIf="type == 'text'" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                              </svg>
                        </button>
                    </div>
                    

                    
    
                    <button (click)="signUp()"
                    class="bg-secondary text-white font-bold text-lg hover:bg-green-400 p-2 mt-8 cursor-pointer" 
                    style="outline: none;">
                <span *ngIf="!service.isLoading">Join DummiesCollege</span>
                <div class="spinner" *ngIf="service.isLoading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </button>
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>Don't have an account? <a routerLink="/auth" class="underline font-semibold">Log in here.</a></p>
                </div>
            </div>
            <!-- <p class="text-sm font-medium text-center p-3">DummiesCollege Inc &copy;{{service.fullYear}}</p> -->
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="assets/cover.jpeg">
        </div>
    </div>

    

</div>