<div class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

     
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
              
                <form class="flex flex-col pt-3 md:pt-8 " [formGroup]="registrationGroup" (ngSubmit)="signUp()">
                    <p class="text-center text-3xl m-6">Create account.</p>
                    <div class="flex flex-col pt-4">
                        <label for="text" class="text-lg">Full name</label>
                        <input type="text" id="fullName" 
                        placeholder="John Doe" 
                        class="capitalize shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-black" 
                        formControlName="fullName" required>
                        <p class="text-red-500 
                        text-xs italic" *ngIf="validator('fullName')">Please provide your full name</p>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Email</label>
                        <input type="email" id="email" 
                        placeholder="your@email.com" 
                        class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-black" formControlName="email" required>
                        <p class="text-red-500 
                        text-xs italic" *ngIf="validator('email')">A valid email is required 
                        e.g craigmiller@example.com</p>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="country" class="text-lg">Country</label>
                        <select class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-black" formControlName="country">
                    <option *ngFor="let country of countries">{{country}}</option>
                    </select>
                        
                    </div>


                    <div class="flex flex-col pt-4">
                        <label for="country" class="text-lg">Password</label>
                        <input type="password"
                        placeholder="Password ***" 
                        class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-black" 
                        formControlName="password" required min="6">
                        <p class="text-red-500 
                        text-xs italic" *ngIf="validator('password')">A password is required & must be at least 6 characters</p>
                    </div>
                    

                    
    
                    <button type="submit" 
                    class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer">
                <span *ngIf="!service.isLoading">Join DummiesCollege</span>
                <div class="spinner" *ngIf="service.isLoading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </button>
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>Don't have an account? <a routerLink="/auth" class="underline font-semibold">Log in here.</a></p>
                </div>
            </div>
            <!-- <p class="text-sm font-medium text-center p-3">DummiesCollege Inc &copy;{{service.fullYear}}</p> -->
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="assets/cover.jpeg">
        </div>
    </div>

    

</div>