<app-nav></app-nav>


<div class="w-full container pt-16 md:pt-16 md:w-6/12 md:mx-auto md:h-8/12">
    <div class="bg-white 
    border border-gray-300 shadow-2xl md:ml-6 h-64 my-8 p-6 relative ml-1 mr-1 h-auto  
    md:pl-9 rounded-lg">
    
    <div class="w-full text-left text-2xl font-bold text-gray-800 md:text-center">
        What does the term analytics mean to you?
        <p class="text-gray-600 my-4 text-sm block">Tap or click one for your answer*</p>
    </div>

<div class="mt-5"></div>

<p class="text-center mt-5 md:text-center">
    <button 
    value="Show certicates"  class="w-full md:w-7/12 
    cursor-pointer  text-green-600 font-bold text-base rounded-full py-2 px-4  bg-transparent border border-green-400 rounded-lg">
    Socialism is bad
  </button>
  </p>

  <p class="text-center mt-5 md:text-center">
    <button 
    value="Show certicates"  class="w-full md:w-7/12 
    cursor-pointer  text-green-600 font-bold text-base rounded-full py-2 px-4  bg-transparent border border-green-400 rounded-lg">
    Anaytics is metric
  </button>
  </p>

  <p class="text-center mt-5 md:text-center">
    <button 
    value="Show certicates"  class="w-full md:w-7/12 
    cursor-pointer  text-green-600 font-bold text-base rounded-full py-2 px-4  bg-transparent border border-green-400 rounded-lg">
    Anaytics is metric
  </button>
  </p>
<br/>
    
    </div>
    </div>

<app-bottomnav></app-bottomnav>