<div class="font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl mt-8">Reset password</p>
                <form class="flex flex-col pt-3 md:pt-8" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordGroup">
                   

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Email</label>
                        <input type="email" id="email"  formControlName="email"
                        placeholder="your@email.com" 
                        class="shadow 
                        appearance-none border rounded w-full 
                        py-2 px-3 text-gray-700 mt-1 
                        leading-tight focus:outline-none
                        focus:border-green-400">
                    </div>
    
                    <button type="submit" style="outline: none;"
                    class="bg-secondary text-white font-bold text-lg hover:bg-green-400 p-2 mt-8 cursor-pointer">
                    <span *ngIf="!service.isLoading">Reset password</span>
                    <div class="spinner" *ngIf="service.isLoading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                </button>

                </form>
                <div class="pt-12 pb-12 text-center">
                    <p>Already have an account?<a routerLink="/auth" class="underline font-semibold"> Log in here</a></p>
                </div>
                
            </div>
<p  routerLink="/" class="outline-none cursor-pointer text-sm font-medium text-center p-3">DummiesCollege Inc &copy;{{service.fullYear}}</p>
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="assets/pixeltrue-settings.png">
        </div>
    </div>

    

</div>