
<div class="pt-16">
    <div class="bg-white my-12  w-full 
justify-center items-center overflow-hidden md:max-w-lg rounded-lg shadow-2xl mx-auto ">
<br/>
<div class="mx-auto w-9/12 mt-6 h-auto">
  <h1 class="text-center font-bold text-lg sm:text-lg md:text-2xl lg:text-2xl xl:text-2xl text-gray-800">
      Great! your course has been successfully published </h1> 
    <br/>
    <img src="assets/undraw_Updated_re_u4yh.svg" class="w-64 mx-auto h-48">
  
    <!-- component -->


<p class="text-center">
    <button (click)="finishUp()"
      value="Show certicates"  class="w-64 
      cursor-pointer  text-white font-bold text-lg hover:bg-green-600 p-2 mt-8 bg-secondary">
      Go to dashboard
    </button>
    </p>
<br/>
<br/>
  </div>

  
</div>
</div>
