<div class="container w-full">
  <div
    class="max-w-sm sm:max-w-md md:max-w-lg 
    lg:max-w-xl xl:max-w-2xl mx-auto mt-8 p-5 border border-gray-400 shadow-md rounded-md"
  >
  <h1 class="text-base sm:text-lg md:text-xl 
        lg:text-2xl xl:text-3xl font-medium text-center">Your resume</h1>

        <img class="rounded-full h-24 w-24 mx-auto" src="assets/Wernher_von_Braun_1960.jpg"/>
        <h3 class="text-2xl  font-semibold text-center">Gilbert Mpanga</h3>
        <div class="skills-setion">
            <h2 class="text-justify text-xl">Skills acquired</h2>

           <div class="mt-1 flex flex row">
            <progress value="60"></progress> <p style="display: inline-block;margin-top: -2px;" class="ml-1">Copy writing</p>
           </div>
           <div class="mt-1 flex flex row">
            <progress value="10"></progress> <p style="display: inline-block;margin-top: -2px;" class="ml-1">
               Blogging</p>
           </div>
           <div class="mt-1 flex flex row">
            <progress value="10"></progress> <p style="display: inline-block;margin-top: -2px;" class="ml-1">
               SEO</p>
           </div>

        </div>
</div>
</div>
