<!-- *ngIf="service.user.emailVerified" -->

<ng-container [ngSwitch]="(service.user?.emailVerified)">
  
  <div class="bg-white my-12 pb-6 w-full 
  justify-center items-center overflow-hidden md:max-w-lg rounded-lg shadow-2xl mx-auto" 
  *ngSwitchCase="true"
  >
    <div class="relative h-40">
      <div class="absolute h-full w-full object-cover" 
      id="backgroundinfo"></div>
    </div>
    <div class="relative w-full">
      <input class="hidden" type="file" 
            #uploadform
            (change)="startUpload($event.target.files)" accept="image/*"/>
      <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-4">
        <img *ngIf="service.user?.photoURL; else default" 
        
        class="object-cover w-full h-full" [src]="service.user.photoURL">
        
        <ng-template #default>
          <img
          class="object-cover w-full h-full" src="assets/placeholder.svg">
        </ng-template>
       
        
      </div>
      <div (click)="uploadform.click()" class="rounded-full h-10 w-10 absolute bg-secondary shadow-2xl cursor-pointer position-icon-uploader">
        <svg height="1.5em" width="1.5em" class="text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
    </div>
    
    
    <div class="mt-16">

      <div *ngIf="userDetail$ | async as userdetail;else loading">
        <h1 class="text-lg text-center font-semibold">
         {{userdetail?.fullName}}
        </h1>
        <div class="text-sm text-gray-600 text-center">
          {{userdetail?.skillsCount && 
            userdetail?.certificateCount == 0 ? "You haven\'t learned anything yet'": 'Specialist in ' + userdetail?.skillsCount + ' skills ' + ' & ' + userdetail?.certificateCount + ' ' + 'certificates'}}
          <!-- Specialist in {{userdetail?.skillsCount}} skills & {{ userdetail?.certificateCount }} certificates -->
          <!-- <div style="background-color: #50C878;" class="rounded-full h-5 w-5 text-white shadow-2xl inline-block">A</div> certificates -->
        
        </div>
      </div>

      


      <!-- *ngIf="percentage | async as pct;" -->
      <ng-container  *ngIf="percentage | async as pct;">
        <p class="text-center text-green-400 font-bold" *ngIf="pct < 100">
          Uploading picture {{randomUp(pct)}}%</p>
      </ng-container>
    
    </div>

  
    
    <ng-template #loading>
      <div class="mx-auto  w-64">
        <div class="loadingio-spinner-dual-ring-5c21w3omuld ml-6"><div class="ldio-b4dmdb0e9x8">
          <div></div><div><div></div></div>
          </div></div>
      </div>
    </ng-template>
    
    

  <div *ngIf="$skills | async ;else loading2">
    <ng-container *ngFor="let skill of $skills | async;">

     
      <div class="mt-6 pt-3 flex flex-wrap mx-6 border-b">
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          User experience
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          VueJS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          TailwindCSS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          React
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          Painting
        </div>
      </div>
  <br/>
    </ng-container>
  </div>
    
  <ng-template #loading2>
    <p class="text-center text-gray-900">...</p>
  </ng-template>
   <div *ngIf="$certificates | async; else loading2">
    <ng-container *ngFor="let certicate of $certificates | async">

      <h3 class="text-gray-800 text-xl ml-6">Certificates</h3>
      <div class="mt-3 pt-3 flex flex-wrap mx-6 border-b">
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          User experience
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          VueJS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          TailwindCSS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          React
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-green-600 border-green-600 hover:bg-green-600 hover:text-green-100 cursor-default">
          Painting
        </div>
      </div>
     
    </ng-container>
   </div>
    

    <br/>
    <p class="text-center sm:hidden">
      <button (click)="logout()"
      value="Show certicates"  class="w-64 
      cursor-pointer  text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 bg-secondary">
      {{service.user != null ? 'Log out': 'Log in'}}
    </button>
    </p>
    <app-floatingbutton></app-floatingbutton>
  </div>
  <app-emailactivation *ngSwitchCase="false"></app-emailactivation>
  <div class="flex-container-column" *ngSwitchDefault>
    <div class="height-block2"></div>
      <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
  </div>
</ng-container>
