<app-nav></app-nav>

<app-contentform *ngIf="!service.hasCreatedTitle">

</app-contentform>

<div class="w-full container pt-8 md:pt-16 md:w-6/12 md:mx-auto md:h-8/12" *ngIf="service.hasCreatedTitle">
  <div class="bg-white 
  border border-gray-300 shadow-2xl md:ml-6 h-64 my-8 p-6 relative ml-1 mr-1 h-auto w-full">

<img src="assets/add.svg" class="h-auto w-full md:w-8/12 md:h-64 md:mx-auto">

<input class="hidden" type="file" 
            #uploadform
            (change)="startUpload($event.target.files)" accept="image/*"/>
<h1 class="font-bold text-xl md:text-3xl text-gray-800 text-center pt-8">{{service.uploadsCount > 0 
  ? 'You have uploaded ' + service.uploadsCount + '/15': 'Upload your first course'}}</h1>

  <ng-container  *ngIf="percentage | async as pct;">
      <p 
  
      class="text-center text-green-600 text-base  md:text-2xl font-bold mb-8">
      {{service.randomUp(pct) < 100 ? 'Uploading ' + service.randomUp(pct) + '%': 'Upload completed'}}%
    </p>
  </ng-container> 

 
<br/>
<div class="flex flex-row items-center 
justify-around mt-8  md:mt-8">
  <div (click)="doneCourseUpload()"
style="outline: none;"
class="flex flex-col items-center   text-gray-800 font-bold  rounded-full cursor-pointer transition duration-150 ease-in-out ">
  

      <svg  height="1.7em" width="1.7em" class="bi-house-door-fill"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
 <span class="text-sm md:text-base">Cancel</span>
  </div>

  <div (click)="uploadform.click()"
  style="outline: none;"
    class="flex  flex-row items-center   cursor-pointer transition duration-150 ease-in-out 
    border border-transparent py-2 px-4  rounded-full text-white bg-pink-500 mx-2 md:mx-0">
    
        
        <p class="block text-base antialiased  font-bold" > 
          <span *ngIf="!service.isLoading">Upload video</span><span *ngIf="service.isLoading"><svg class="animate-spin w-6 h-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335"
            width="1.5em" height="1.5em">
             <path fill="#fff" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
             />
           </svg></span></p>
    </div>


  <div (click)="doneCourseUpload()"
  style="outline: none;"
  class="flex flex-col items-center  text-gray-800 font-bold bg-transparenr rounded-full cursor-pointer transition duration-150 ease-in-out "
   >


  <svg height="1.7em" width="1.7em" class="bi bi-house-door-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
  </svg>
 <span class="block text-sm md:text-base">Done</span>
  </div>
  <!-- < -->
 </div>

   

  </div>
</div>



<app-bottomnav></app-bottomnav>