<app-nav></app-nav>

<div class="w-full container pt-8 md:pt-16 md:w-8/12 md:mx-auto md:h-8/12">
  <div class="bg-white 
  border border-gray-300 shadow-2xl md:ml-6 h-64 my-8 p-6 relative ml-1 mr-1 h-auto w-full">

<img src="assets/add.svg" class="h-auto w-full md:w-8/12 md:h-64 md:mx-auto">

<h1 class="font-bold text-3xl text-gray-800 text-center py-8">You have uploaded 6/15</h1>

<p class="text-center">
  <button routerLink="/interviews"
  value="Show certicates"  class="w-64 
  cursor-pointer  text-white font-bold text-lg hover:bg-green-400 p-2 mt-8 bg-secondary">
  Contine uploading
</button>
</p>


   

  </div>
</div>



<app-bottomnav></app-bottomnav>