<div class="container bg-gray-400 h-screen">
   <p class="text-center">
    <input class="border-none outline-none w-full bg-gray-400 h-64 p-6 font-medium text-2xl placeholder-gray-900" 
    placeholder="Search for courses /" />
   </p>
    <p class="text-center">
        <input type="submit" 
        value="Search" class="w-64 
        cursor-pointer bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
      </p>
      <p class="text-center">
        <button routerLink="/"
         class="w-64 
        cursor-pointer bg-gray-700 text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
        Go back
        </button>
</div>
