<div class="w-full sm:min-h-0 p-6" id="backgroundinfo">
   <div class="mx-auto w-1/2 flex justify-center items-center">
      <h1 
   class="my-5 text-base sm:text-lg md:text-xl lg:text-5xl xl:text-5xl font-bold antialiased   text-center text-white">
Curated courses for your digital next job
</h1>

<!-- <div class="w-1/3">
   <h1 class="text-6xl text-white font-bold leading-none mb-4">Tutorials</h1>
   <p class="text-2xl text-white leading-tight tracking-wide">Follow along with one of our 2449
       development and sysadmin tutorials.</p>
</div> -->
   </div>
</div>



<div class="container p-6">

   <header class="mt-8 mb-6">
      <div class="relative w-custom">
         <h1 class="text-base sm:text-lg md:text-xl 
      lg:text-2xl xl:text-2xl font-bold">
      100+ people enrolling now <div class="bg-green-500 rounded-full h-3 w-3  inline-block"></div></h1>
      
      </div>
     </header>

     <drag-scroll   [drag-scroll-y-disabled]="true">
      <div  drag-scroll-item class=" rounded-md p-3 
      h-64 w-64 border 
      bg-orange-400 cursor-pointer scrollable-card shadow-2xl mr-3">
      <div class="flex my-32 flex-row" >
         <div class="w-1/2">
            <h1  class="font-bold text-white trancate text-2xl text-justify">
               Finance basics</h1>
         </div> 
            <div class="w-1/2 flex flex-row  ml-8 mt-3">
               <div class="bg-black rounded-full h-10 w-10 
               border-2 border-white -m-1"
               style="background: url('assets/unnamed.png');background-size: cover;" 
               >
           
               </div>
               
               <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
               style="background: url('assets/2943750.jpeg');background-size: cover;"></div>
           
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/test.jpeg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
               </div>
      </div>
      
      </div>
      <div  drag-scroll-item class=" rounded-md p-3 
      h-64 w-64 border 
      bg-orange-400 cursor-pointer scrollable-card shadow-2xl mr-3">
      <div class="flex my-32 flex-row" >
         <div class="w-1/2">
            <h1  class="font-bold text-white trancate text-2xl text-justify">
               Finance basics</h1>
         </div> 
            <div class="w-1/2 flex flex-row  ml-8 mt-3">
               <div class="bg-black rounded-full h-10 w-10 
               border-2 border-white -m-1"
               style="background: url('assets/unnamed.png');background-size: cover;" 
               >
           
               </div>
               
               <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
               style="background: url('assets/2943750.jpeg');background-size: cover;"></div>
           
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/test.jpeg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
               </div>
      </div>
      
      </div> <div  drag-scroll-item class=" rounded-md p-3 
      h-64 w-64 border 
      bg-orange-400 cursor-pointer scrollable-card shadow-2xl mr-3">
      <div class="flex my-32 flex-row" >
         <div class="w-1/2">
            <h1  class="font-bold text-white trancate text-2xl text-justify">
               Finance basics</h1>
         </div> 
            <div class="w-1/2 flex flex-row  ml-8 mt-3">
               <div class="bg-black rounded-full h-10 w-10 
               border-2 border-white -m-1"
               style="background: url('assets/unnamed.png');background-size: cover;" 
               >
           
               </div>
               
               <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
               style="background: url('assets/2943750.jpeg');background-size: cover;"></div>
           
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/test.jpeg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
               </div>
      </div>
      
      </div>
      <div  drag-scroll-item class=" rounded-md p-3 
      h-64 w-64 border 
      bg-orange-400 cursor-pointer scrollable-card shadow-2xl mr-3">
      <div class="flex my-32 flex-row" >
         <div class="w-1/2">
            <h1  class="font-bold text-white trancate text-2xl text-justify">
               Finance basics</h1>
         </div> 
            <div class="w-1/2 flex flex-row  ml-8 mt-3">
               <div class="bg-black rounded-full h-10 w-10 
               border-2 border-white -m-1"
               style="background: url('assets/unnamed.png');background-size: cover;" 
               >
           
               </div>
               
               <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
               style="background: url('assets/2943750.jpeg');background-size: cover;"></div>
           
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/test.jpeg');background-size: cover;" ></div>
               <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
               
               style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
               </div>
      </div>
      
      </div>
    </drag-scroll>

     <!-- <ul class="flex flex-row space-x-3 overflow-x-auto py-4 px-2 mt-2">
      <li>
         <div style="width:400px;height:200px;" class="flex rounded-md p-3 
         h-64 w-64 border 
         bg-orange-400 cursor-pointer">
      <div class="width-enrolled relative my-24 flex flex-row">
         <h1 class="font-bold text-white p3 text-xl">
         Finance basics crash course</h1>
     
      </div>

         <div class="w-1/2 flex flex-row">
         <div class="bg-black rounded-full h-10 w-10 
         border-2 border-white -m-1"
         style="background: url('assets/unnamed.png');background-size: cover;" 
         >

         </div>
         
         <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
         style="background: url('assets/2943750.jpeg');background-size: cover;"></div>

         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/test.jpeg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
         </div>
         
      </div>
      </li><li>
         <div style="width:400px;height:200px;" class="flex rounded-md p-3 
         h-64 w-64 border 
         bg-orange-400 cursor-pointer">
      <div class="width-enrolled relative my-24 flex flex-row">
         <h1 class="font-bold text-white p3 text-xl">
         Google analytics from zero to hero</h1>
     
      </div>

         <div class="w-1/2 flex flex-row">
         <div class="bg-black rounded-full h-10 w-10 
         border-2 border-white -m-1"
         style="background: url('assets/unnamed.png');background-size: cover;" 
         >

         </div>
         
         <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
         style="background: url('assets/2943750.jpeg');background-size: cover;"></div>

         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/test.jpeg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
         </div>
         
      </div>
      </li><li>
         <div style="width:400px;height:200px;" class="flex rounded-md p-3 
         h-64 w-64 border 
         bg-orange-400 cursor-pointer">
      <div class="width-enrolled relative my-24 flex flex-row">
         <h1 class="font-bold text-white p3 text-xl">
         Pitch deck design & fundraising</h1>
     
      </div>

         <div class="w-1/2 flex flex-row">
         <div class="bg-black rounded-full h-10 w-10 
         border-2 border-white -m-1"
         style="background: url('assets/unnamed.png');background-size: cover;" 
         >

         </div>
         
         <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
         style="background: url('assets/2943750.jpeg');background-size: cover;"></div>

         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/test.jpeg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
         </div>
         
      </div>
      </li><li>
         <div style="width:400px;height:200px;" class="flex rounded-md p-3 
         h-64 w-64 border 
         bg-orange-400 cursor-pointer">
      <div class="width-enrolled relative my-24 flex flex-row">
         <h1 class="font-bold text-white p3 text-xl">
        Hedgefund management 1-0-1</h1>
     
      </div>

         <div class="w-1/2 flex flex-row">
         <div class="bg-black rounded-full h-10 w-10 
         border-2 border-white -m-1"
         style="background: url('assets/unnamed.png');background-size: cover;" 
         >

         </div>
         
         <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
         style="background: url('assets/2943750.jpeg');background-size: cover;"></div>

         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/test.jpeg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
         </div>
         
      </div>
      </li>
      <li>
         <div style="width:400px;height:200px;" class="flex rounded-md p-3 
         h-64 w-64 border 
         bg-orange-400 cursor-pointer">
      <div class="width-enrolled relative my-24 flex flex-row">
         <h1 class="font-bold text-white p3 text-xl">
          Excel sheet crash course</h1>
     
      </div>

         <div class="w-1/2 flex flex-row">
         <div class="bg-black rounded-full h-10 w-10 
         border-2 border-white -m-1"
         style="background: url('assets/unnamed.png');background-size: cover;" 
         >

         </div>
         
         <div class="rounded-full h-10 w-10 -m-1 border-2 border-white" 
         style="background: url('assets/2943750.jpeg');background-size: cover;"></div>

         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/Wernher_von_Braun_1960.jpg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/test.jpeg');background-size: cover;" ></div>
         <div class="bg-black rounded-full h-10 w-10 -m-1 border-2 border-white" 
         
         style="background: url('assets/cover.jpeg');background-size: cover;" ></div>
         </div>
         
      </div>
      </li>
      
  </ul> -->


</div>