<div class="w-full sm:min-h-0 p-6" id="backgroundinfo">
   <div class="mx-auto w-1/2 flex justify-center items-center">
      <h1 
   class="my-5 text-lg sm:text-lg md:text-xl lg:text-5xl xl:text-5xl font-bold antialiased   text-center text-white">
Curated courses for your digital next job
</h1>



   </div>
</div>



<div class="container ">

   <!-- <header class="mt-8">
      <div class="relative w-custom">
         <h1 class="text-base sm:text-lg md:text-xl 
      lg:text-2xl xl:text-2xl font-bold ml-3 mb-3 text-gray-800">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hash inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
         <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
       </svg>100 people enrolling now <div style="background-color: #50C878;" class="rounded-full h-3 w-3  inline-block"></div></h1>
      
      </div>
     </header> -->
<!-- courses list -->
<!-- component -->
<!-- <style>
   @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
   .rounded-xl {
       border-radius: 1rem
   }
   </style> -->

 
   <div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-6">
       <div class="bg-white text-gray-800 rounded-xl shadow-lg overflow-hidden relative flex" 
       >
           <div class="bg-white h-full w-full px-5 pt-6 pb-20 overflow-y-auto">
               <div class="mb-3">
                   <h1 class="text-3xl font-bold">All courses</h1>
                   <h3 class="text-sm text-gray-500 uppercase font-bold">100 enrolling now 
                      <div style="background-color: #50C878;" class="rounded-full h-3 w-3  inline-block"></div> </h3>
               </div>
               <div class="mb-5">
                   <a routerLink="/watch" class="block rounded-lg relative p-5 transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://images.unsplash.com/photo-1484876065684-b683cf17d276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80) center; background-size: cover;">
                       <div class="absolute top-0 right-0 -mt-3 mr-3">
                           <div style="background-color: #50C878;" class="rounded-full  text-white text-xs py-1 pl-2 pr-3 leading-none"><i class="mdi mdi-fire text-base align-middle"></i> <span class="align-middle">NEW</span></div>
                       </div>
                       <div class="h-48"></div>
                       <h2 class="text-white text-2xl font-bold leading-tight mb-3 pr-5">Tasnim Lacey New Album Out&nbsp;Now</h2>
                       <div class="flex w-full items-center text-sm text-gray-300 font-medium">
                           <div class="flex-1 flex items-center">
                               <div class="rounded-full w-8 h-8 mr-3" style="background: url(https://randomuser.me/api/portraits/women/74.jpg) center; background-size: cover;"></div>
                               <div>Gwen Thomson</div>
                           </div>
                           <div><svg  width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="#50C878" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                            </svg></div>
                       </div>
                   </a>
               </div>
               <div class="mb-5">
                   <a  routerLink="/watch" class="block rounded-lg relative p-5 transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80) center; background-size: cover;">
                       <div class="h-48"></div>
                       <h2 class="text-white text-2xl font-bold leading-tight mb-3 pr-5">Top 5 Cocktail Bars in&nbsp;NYC</h2>
                       <div class="flex w-full items-center text-sm text-gray-300 font-medium">
                           <div class="flex-1 flex items-center">
                               <div class="rounded-full w-8 h-8 mr-3" style="background: url(https://randomuser.me/api/portraits/women/55.jpg) center; background-size: cover;"></div>
                               <div>Kayden Buckley</div>
                           </div>
                           <div><svg  width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="#50C878" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                            </svg></div>
                       </div>
                   </a>
               </div>
            </div>
         
       </div>
   </div>


</div>