<div class="w-full sm:min-h-0 p-6" id="backgroundinfo">
   <div class="mx-auto w-1/2 flex justify-center items-center">
     
    <!-- #332533  - B
    #003636 - C
    -->
    <h1 
   class="my-5 text-lg sm:text-lg md:text-xl lg:text-5xl xl:text-5xl font-bold antialiased  
    text-center" style="color:#fff;text-shadow:  #000 1px 0 2.3px;">
   Short lectures you can understand.
</h1>



   </div>
</div>



<div class="container ">
   
    <div  class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-6">
       <div class="bg-white text-gray-800 rounded-xl shadow-lg overflow-hidden relative flex" 
       >
           <div class="bg-white h-full w-full px-5 pt-6 pb-20 overflow-y-auto">
               <div class="mb-3">
                   <h1 class="text-3xl font-bold">All courses</h1>
                   <h3 class="text-sm text-gray-500 uppercase font-bold">57 enrolling now 
                      <div style="background-color: #50C878;" class="rounded-full h-3 w-3  inline-block"></div> </h3>
               </div>
               <div class="mb-5">
         
                   <a  [routerLink]="['/watch', '84864308698', 0]"  routerLink="/demo" class="cursor-pointer block rounded-lg relative p-5 transform transition-all duration-300 scale-100 hover:scale-95"
                    style="background: url('assets/laptop-from-above.jpg') center; background-size: cover;background-color: #000;">
                       <div class="absolute top-0 right-0 -mt-3 mr-3">
                           <div style="background-color: #50C878;" class="rounded-full  text-white text-xs py-1 pl-2 pr-3 leading-none"><i class="mdi mdi-fire text-base align-middle"></i> <span class="align-middle">NEW</span></div>
                       </div>
                       <div class="h-48"></div>
                       <h2 class="text-white text-2xl font-bold leading-tight mb-3 pr-5">Everything you need to 
                           know about&nbsp;Startups</h2>
                       <div class="flex w-full items-center text-sm text-gray-300 font-medium">
                           <div class="flex-1 flex items-center">
                               <div class="rounded-full w-8 h-8 mr-3" style="background: url('assets/placeholder.svg') center; background-size: cover;"></div>
                               <div>By entreprenuers</div>
                           </div>
                           <div><svg  width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="#50C878" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                            </svg></div>
                       </div>
                   </a>
               </div>
               
            </div>
         
       </div>
   </div>





  

<app-floatingbutton></app-floatingbutton>
</div>