<ng-container [ngSwitch]="(service.user?.emailVerified)">
    <div class="container w-full" *ngSwitchCase="true">
        <div class="max-w-sm sm:max-w-md md:max-w-lg
         lg:max-w-xl xl:max-w-2xl mx-auto   mt-8 p-3">
         <h1 class="text-base sm:text-lg md:text-xl 
            lg:text-2xl xl:text-3xl font-medium text-justify text-gray-800">Notifications</h1>
    <br/>
      
            <div class="w-full   h-full flex flex-col">
                <div class="bg-white text-sm text-gray-500 font-bold px-5 py-2 shadow border-b border-gray-300">
                    Your activity
                </div>
                
                <div class="w-full h-full overflow-auto shadow bg-white" id="journal-scroll">
    

                    
                    <ng-container *ngIf="notification$ | async;let nots;else loading">
                        <table class="w-full" *ngFor="let notification of nots">
    
    
                            <tbody class="">
                                                        <tr [className]="notification.read ? read : unread">
                                    <td class="pl-5 pr-3 whitespace-no-wrap">
                                        <div class="text-gray-400">Today</div>
                                        <div>{{publishedAt(notification.timestamp)}}</div>
                                    </td>
            
                                    <td class="px-2 py-2 whitespace-no-wrap">
                                        <div class="leading-5 text-gray-500 font-medium">{{notification.author}}</div>
                                        <div class="leading-5 text-gray-900">{{notification.title}}
                                            <a class="text-blue-500 hover:underline" href="#">{{notification.status}}</a></div>
                                        <div class="leading-5 text-gray-800">{{notification.message}}</div>
                                    </td>
            
                                </tr>
                                                      
                                                       
                                                    </tbody>
                        </table>
                        <div class="w-full" *ngIf="nots.length == 0">
                            <img src="assets/void.svg" class="h-40 w-40 md:w-64 md:h-auto mx-auto  pt-10" />
                                <h1 class="text-center font-bold text-lg md:text-2xl text-gray-800 py-4 md:py-8">You have no notifications</h1>
                            </div> 
                    </ng-container>

                    <ng-template #loading>
                        <div style="
                        vertical-align: middle;
                        text-align: center;
                        border-style: none;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%);">
                      <div class="loadingio-spinner-dual-ring-5c21w3omuld"><div class="ldio-b4dmdb0e9x8">
                          <div></div><div><div></div></div>
                          </div></div>
                      </div>
                    </ng-template>
                


                </div>
                
          
            </div>
        </div>
    <app-floatingbutton></app-floatingbutton>
    </div>
    <app-emailactivation *ngSwitchCase="false"></app-emailactivation>
    <div class="flex-container-column" *ngSwitchDefault>
      <div class="height-block2"></div>
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
          </div>
    </div>
